/* #region common rules */

/* #endregion common rules */



/* #region utilities */

:root {
    --background: #dadbd2;
    --primary: #ffffff;
    --secondary-hover: #e9ebeb;
    --light-icons: #dadbd2;
    --dark-icons: #B1B2B5;
    --sentmessage: #d5f9ba;
    --dark: #b1b1b1;
    --darker: #717d89;
    --notification: #8edafc;
    --header: #009688;
}

.my_container {
    height: 95vh;
    margin: 2.5vh auto;
}

.my_column {
    height: 95vh;
    margin: 2.5vh auto;
}

/* #endregion utilities */

/* #region debug */
.debug .my_container {
    background-color: #8edafc;
}

.debug .contacts_top {
    background-color: #009688;
}

.debug .my_column {
    background-color: #d5f9ba;
}

.debug .chat_top{
    background-color: beige;
}

.debug .chat_bottom{
    background-color: aqua;
}

.debug .main_chat{
    background-color: brown;
}

/* #endregion debug */

/* #region contacts */

/* top */
.contacts_top {
    height: 10vh;
}

.contacts_top img {
    width: 50px;
    border-radius: 50%;
}

.contacts_top i {
    color: var(--dark-icons);
}

/* notifiche */
.block_notifing {
    height: 10vh;
}

.block_notifing i {
    color: var(--notification);
    background-color: var(--primary);
    padding: 0.8rem;
    border-radius: 50%;
}

.block_notifing strong {
    color: var(--darker);
    font-size: 0.7rem;
}

/* searchbar */
.my_searchbar {
    height: 5vh;
}

.my_searchbar i {
    color: var(--dark-icons);
}

.my_searchbar,
input::placeholder {
    font-size: 0.7rem;
}

/* contact list */
.contact_image img {
    width: 60px;
    border-radius: 50%;
}

.contacts {
    height: 70vh;
    overflow-y: auto;
}

/* #endregion contacts */

/* #region chat */

/* chat top */
.chat_top{
    height: 10vh;
}

/* main chat */
.main_chat{
    height: 75vh;
}

/* chat bottom */
.chat_bottom{
    height: 10vh;
}

/* #endregion chat */