/* #region common rules */

/* #endregion common rules */



/* #region utilities */

:root {
    --background: #dadbd2;
    --primary: #ffffff;
    --secondary-hover: #e9ebeb;
    --light-icons: #dadbd2;
    --dark-icons: #B1B2B5;
    --sentmessage: #d5f9ba;
    --dark: #b1b1b1;
    --darker: #717d89;
    --notification: #8edafc;
    --header: #009688;
    --light-search: #f3eeea;
    --top-bar: #eaeaea;
    --font: #000000
}

.my_container {
    height: 95vh;
    margin: 2.5vh auto;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.my_column {
    height: 95vh;
    margin: 2.5vh auto;
}

html {
    background-color: var(--header);
}

#app {
    background-color: var(--header);
    color: var(--font);
}

.active_contact {
    background-color: var(--secondary-hover);
}

/* #endregion utilities */

/* #region debug */
.debug .my_container {
    background-color: #8edafc;
}

.debug .contacts_top {
    background-color: #009688;
}

.debug .my_column {
    background-color: #d5f9ba;
}

.debug .chat_top {
    background-color: beige;
}

.debug .chat_bottom {
    background-color: aqua;
}

.debug .main_chat {
    background-color: brown;
}

/* #endregion debug */

/* #region contacts */

/* top */
.contacts_top {
    height: 70px;
    background-color: var(--top-bar);
}

.contacts_top img,
.chat_top img {
    width: 50px;
    border-radius: 50%;
}

.contacts_top i {
    color: var(--dark-icons);
}

/* notifiche */
.block_notifing {
    height: 75px;
    background-color: var(--notification);
}

.block_notifing i {
    color: var(--notification);
    background-color: var(--primary);
    padding: 0.9rem;
    border-radius: 50%;
}

.block_notifing strong,
.user_chat_info span {
    color: var(--darker);
    font-size: 0.7rem;
}

.block_notifing a,
.message_time span,
.contact_time span,
.contact_information p {
    color: var(--dark);
    font-size: 0.6rem;
}

/* searchbar */
.my_searchbar {
    background-color: var(--light-search);
    height: 40px;
}

.my_searchbar i,
.message_time i {
    color: var(--dark-icons);
}

.my_searchbar,
input::placeholder {
    font-size: 0.7rem;
}

/* contact list */
.contact_image img {
    width: 60px;
    border-radius: 50%;
}

.contact_image {
    width: 60px;
}

.contact_information {
    width: calc(100% - 90px)
}

.contact_time {
    width: 30px;
}

.contacts_wrapper:hover {
    background-color: var(--secondary-hover);
    cursor: pointer;
}

.contacts {
    height: calc(100% - 185px);
    overflow-y: auto;
    background-color: var(--primary);
}

/* #endregion contacts */

/* #region chat */

/* chat top */
.chat_top {
    height: 70px;
    background-color: var(--top-bar);
    border-left: 1px solid var(--dark-icons);
}

.chat_top i {
    color: var(--dark-icons);
}

/* main chat */
.main_chat {
    height: calc(100% - 140px);
    overflow-y: auto;
    background-color: var(--light-icons);
    background-image: url(../img/whatsappbg.png);
}

.message_text {
    background-color: var(--primary);
    border-radius: 4px;
    padding: 0.2rem 1rem;
}

.my_message_text {
    background-color: var(--sentmessage);
    border-radius: 4px;
    padding: 0.2rem 1rem;
}

.sent {
    background-color: var(--sentmessage);
    width: 40%;
    align-self: flex-end;
    margin-top: 0.7rem;
    margin-right: 2rem;
    -webkit-box-shadow: 5px 2px 8px 2px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 2px 8px 2px rgba(0, 0, 0, 0.46);
}

.received {
    display: flex;
    background-color: var(--primary);
    width: 40%;
    margin-top: 0.7rem;
    align-self: flex-start;
    margin-left: 2rem;
    -webkit-box-shadow: 5px 2px 8px 2px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 2px 8px 2px rgba(0, 0, 0, 0.46);
}

/* chat bottom */
.chat_bottom {
    height: 70px;
    background-color: var(--light-search);
}

.chat_bottom i {
    color: var(--darker);
}

/* #endregion chat */

/* #region color picker */
.color-picker>fieldset {
    position: absolute;
    bottom: 2.5vh;
    border: 0;
    display: flex;
    gap: 1.5rem;
    width: fit-content;
    background: #524e4e3b;
    padding: 1rem;
    border-radius: 0 1rem 0 0;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 0.2rem;
    height: 0.2rem;
    outline: 2px solid var(--radio-color, currentColor);
    outline-offset: 2px;
    border-radius: 50%;
    cursor: pointer;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
    --radio-color: gray;
}

.color-picker input[type="radio"]#pink {
    --radio-color: rgb(243, 111, 192);
}

.color-picker input[type="radio"]#blue {
    --radio-color: rgb(4, 247, 255);
}

.color-picker input[type="radio"]#green {
    --radio-color: rgb(2, 252, 2);
}

.color-picker input[type="radio"]#dark {
    --radio-color: #232323;
}

:root:has(#pink:checked) {
    --background: rgb(207, 76, 177);
    --primary: #781273;
    --secondary-hover: #885ab2;
    --light-icons: #d012fb;
    --dark-icons: #765c20;
    --sentmessage: #0fed90;
    --dark: #ffffff;
    --darker: #fbfbfb;
    --notification: #9a49ab;
    --header: #541772;
    --light-search: #77461e;
    --top-bar: #77461e;
    --font: #ffffff;
}

:root:has(#blue:checked) {
    --background: #1a618a;
    --primary: #243b87;
    --secondary-hover: #791cdc;
    --light-icons: #791cdc;
    --dark-icons: #7d7d7d;
    --sentmessage: #3299d0;
    --dark: #ffffff;
    --darker: #ffffff;
    --notification: #8edafc;
    --header: #14aaeb;
    --light-search: #268dba;
    --top-bar: #3d6dad;
    --font: #ffffff;

}

:root:has(#green:checked) {
    --background: #4aaee8;
    --primary: #218ea4;
    --secondary-hover: #3fc896;
    --light-icons: #20976d;
    --dark-icons: #7d7d7d;
    --sentmessage: #3299d0;
    --dark: #ffffff;
    --darker: #1f5a98;
    --notification: #8edafc;
    --header: #009688;
    --light-search: #2b6f8c;
    --top-bar: #25bd8a;
    --font: #ffffff;
}

:root:has(#dark:checked) {
    --background: #000000;
    --primary: #000000;
    --secondary-hover: #ffffff5a;
    --light-icons: #000000;
    --dark-icons: #7d7d7d;
    --sentmessage: #352152;
    --dark: #b3b3b3;
    --darker: #b3b3b3;
    --notification: #504949;
    --header: #00000088;
    --light-search: #000000b0;
    --top-bar: #000000;
    --font: #919191;
}

/* #endregion color picker */