/* #region common rules */

/* #endregion common rules */



/* #region utilities */

:root {
    --background: #dadbd2;
    --primary: #ffffff;
    --secondary-hover: #e9ebeb;
    --light-icons: #dadbd2;
    --dark-icons: #B1B2B5;
    --sentmessage: #d5f9ba;
    --dark: #b1b1b1;
    --darker: #717d89;
    --notification: #8edafc;
    --header: #009688;
    --light-search: #f3eeea;
    --top-bar: #eaeaea;
}

.my_container {
    height: 95vh;
    margin: 2.5vh auto;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.my_column {
    height: 95vh;
    margin: 2.5vh auto;
}

html {
    background-color: var(--header);
}

#app {
    background-color: var(--header);
}

.active_contact {
    background-color: var(--secondary-hover);
}

/* #endregion utilities */

/* #region debug */
.debug .my_container {
    background-color: #8edafc;
}

.debug .contacts_top {
    background-color: #009688;
}

.debug .my_column {
    background-color: #d5f9ba;
}

.debug .chat_top {
    background-color: beige;
}

.debug .chat_bottom {
    background-color: aqua;
}

.debug .main_chat {
    background-color: brown;
}

/* #endregion debug */

/* #region contacts */

/* top */
.contacts_top {
    height: 70px;
    background-color: var(--top-bar);
}

.contacts_top img,
.chat_top img {
    width: 50px;
    border-radius: 50%;
}

.contacts_top i {
    color: var(--dark-icons);
}

/* notifiche */
.block_notifing {
    height: 75px;
    background-color: var(--notification);
}

.block_notifing i {
    color: var(--notification);
    background-color: var(--primary);
    padding: 0.9rem;
    border-radius: 50%;
}

.block_notifing strong,
.user_chat_info span {
    color: var(--darker);
    font-size: 0.7rem;
}

.block_notifing a,
.message_time span,
.contact_time span,
.contact_information p {
    color: var(--dark);
    font-size: 0.6rem;
}

/* searchbar */
.my_searchbar {
    background-color: var(--light-search);
    height: 30px;
}

.my_searchbar i,
.message_time i {
    color: var(--dark-icons);
}

.my_searchbar,
input::placeholder {
    font-size: 0.7rem;
}

/* contact list */
.contact_image img {
    width: 60px;
    border-radius: 50%;
}

.contact_image {
    width: 60px;
}

.contact_information {
    width: calc(100% - 90px)
}

.contact_time {
    width: 30px;
}

.contacts_wrapper:hover {
    background-color: var(--secondary-hover);
    cursor: pointer;
}

.contacts {
    height: calc(100% - 175px);
    overflow-y: auto;
    background-color: var(--primary);
}

/* #endregion contacts */

/* #region chat */

/* chat top */
.chat_top {
    height: 70px;
    background-color: var(--top-bar);
    border-left: 1px solid var(--dark-icons);
}

.chat_top i {
    color: var(--dark-icons);
}

/* main chat */
.main_chat {
    height: calc(100% - 140px);
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}

.message_text {
    background-color: var(--primary);
    border-radius: 4px;
    padding: 0.2rem 1rem;
}

.my_message_text {
    background-color: var(--sentmessage);
    border-radius: 4px;
    padding: 0.2rem 1rem;
}

.sent {
    background-color: var(--sentmessage);
    width: 40%;
    align-self: flex-end;
    margin-top: 0.7rem;
    margin-right: 2rem;
    -webkit-box-shadow: 5px 2px 8px 2px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 2px 8px 2px rgba(0, 0, 0, 0.46);
}

.received {
    display: flex;
    background-color: var(--primary);
    width: 40%;
    margin-top: 0.7rem;
    align-self: flex-start;
    margin-left: 2rem;
    -webkit-box-shadow: 5px 2px 8px 2px rgba(0, 0, 0, 0.46);
    box-shadow: 5px 2px 8px 2px rgba(0, 0, 0, 0.46);
}

/* chat bottom */
.chat_bottom {
    height: 70px;
    background-color: var(--light-search);
}

.chat_bottom i {
    color: var(--darker);
}

/* #endregion chat */